body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(135deg, #ffe6eb, #fff);
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background: white;
  padding: 35px;
  border-radius: 25px;
  width: 320px;
  text-align: center;
  box-shadow: 0 15px 40px rgba(0,0,0,0.2);
}

h1 {
  color: #ff5c8a;
}

button {
  background: #ff5c8a;
  border: none;
  color: white;
  padding: 12px 26px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  margin: 10px;
}

button:hover {
  transform: scale(1.05);
}
